NEXT_PUBLIC_OPENSOULS_ORG_ID=""
NEXT_PUBLIC_OPENSOULS_BLUEPRINT="daimon-demo"

NEXT_PUBLIC_USER_AVATAR="https://api.dicebear.com/8.x/notionists-neutral/svg?backgroundColor=b6e3f4,c0aede,d1d4f9,ffd5dc,ffdfbf"

ELEVEN_LABS_API_KEY=""

NEXT_PUBLIC_ELEVEN_LABS_VOICE_ID="21m00Tcm4TlvDq8ikWAM"
NEXT_PUBLIC_ELEVEN_LABS_MODEL_ID="eleven_turbo_v2"

NEXT_PUBLIC_ELEVEN_LABS_VOICE_ID_DAIMON="N2lVS1w4EtoT3dr4eOWO"
NEXT_PUBLIC_ELEVEN_LABS_MODEL_ID_DAIMON="eleven_turbo_v2"

NEXT_PUBLIC_ELEVEN_LABS_VOICE_ID_GENIE="zcAOhNBS3c14rBihAFp1"
NEXT_PUBLIC_ELEVEN_LABS_MODEL_ID_GENIE="eleven_multilingual_v1"

